<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
    <div class="col">
      <div class="p-2">
        <div class="card">
          <img src="https://media.istockphoto.com/id/827065008/photo/holy-town-varanasi-and-the-river-ganges.jpg?s=612x612&w=0&k=20&c=WHGBF2zwPkVMpAma832RbHrov6VwKIMXuDR3N2WmfGg=" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Uttar Pradesh</h5>
            <p class="card-text">Uttar Pradesh, the heart of India, is a land of epics, holy rivers, ancient cities and pilgrimage.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div></div>
    </div>
    <div class="col">
      <div class="p-2">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div></div>
    </div>
    <div class="col">
      <div class="p-2">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div></div>
    </div>
  </div>
</div>
